.page__section__numbers {
    background-image: url('../assets/3\ Columns\ Background.png');
    height: 384px;
    background-size: 100% 100%;
    margin-bottom: 55px;
}

.page__section__numbers__container {
    display: flex;
    justify-content: space-between;
    margin-left: 163px;
    margin-right: 163px;
}

.page__section__numbers__article {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    max-width: 334px;
    margin-top: 46px;
}
.page__section__numbers__article h1{
    font-weight: 300;
    font-size: 90px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0px;
    color: #5E5322;
    opacity: 1;
    text-align: center;

}
.page__section__numbers__article h3{
    margin-top: 20px;
    text-align: center;
    font-weight: 400;
    font-size: 19px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: -0.36px;
    color: #3C3C3C;
    opacity: 1;
}
.page__section__numbers__article h6{
    margin-top: 28px;
    text-align: center;
    font-weight: 100;
    line-height: 2rem;
    font-size: 16px;
    font-family: 'Merriweather', serif;
    letter-spacing: -0.32px;
    color: #3C3C3C;
    opacity: 1;
}
