@import './settings/colors';
@import './settings/fonts';
@import './home/homeHeader';
@import './home//homeThreeColumns';
@import './home/homeSimpleSteps';
@import './home/homeAboutUs';
@import './home/homeContact';

* {
    box-sizing: border-box;
}

body {
    font-family: $font-base;
    margin: 0;
}